<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}LAG Folk{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ asset('css/app.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block header %}
    <div class="header clearfix">
        <div class="container">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </nav>
						<a href="#" class="button is-primary">
							News
						</a>
						<a href="{{ path('market_index') }}" class="button is-info">
							Musikmarkt
						</a>
						<a href="{{ path('concert_index') }}" class="button is-success">
							Termine
						</a>
						<a href="{{ path('member_index') }}" class="button is-warning">
							Bands
						</a>
						<a href="{{ path('weekly_index') }}" class="button is-danger">
							LAGFolk
						</a>
            <h3>LAG Folk</h3>
        </div>
    </div>
{% endblock %}

<div class="container">
    <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
    <main>
        {% block body %}{% endblock %}
    </main>
    {% block footer %}
        <footer class="footer">
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
    {% endblock %}
    {% block javascripts %}{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
