{% extends 'base.html.twig' %}

{% block body %}
    <h1>Market</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ market.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ market.title }}</td>
            </tr>
            <tr>
                <th>Contentshort</th>
                <td>{{ market.contentShort }}</td>
            </tr>
            <tr>
                <th>Contentlong</th>
                <td>{{ market.contentLong }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ market.image }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ market.file }}</td>
            </tr>
            <tr>
                <th>Filedescription</th>
                <td>{{ market.fileDescription }}</td>
            </tr>
            <tr>
                <th>Expiresat</th>
                <td>{% if market.expiresAt %}{{ market.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if market.createdAt %}{{ market.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if market.updatedAt %}{{ market.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('market_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('market_edit', { 'id': market.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
